<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <style>
                body{
                    height:100vh;
                    margin:0;
                    padding: 0;
                    border:0;
                }
                header{
                    display: flex;
                    height: 18em;
                }
                section {
                    padding: 1em;
                    border-top: 2px #4CAF50 solid;
                }
                #controls{
                    width: 50%;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }
                #results {
                    width: 50%;
                    background-color: #4CAF50;
                    text-align: center;

                }

                #resultImages{
                    display: flex;
                    justify-content: space-around;
                }

                #searchingBox{
                    display: flex;
                    height: 2em;
                    padding: 1em 0;
                    justify-content: center;
                    align-items: center;
                    width: 25em;
                    margin: 0 auto;
                }
                #searchingBox span {
                    margin-right: 1em;
                }

                #sliders{
                    display: flex;
                    flex-direction: column;
                    width: 25em;
                    margin: 0 auto;
                }
                #m{
                    height: 13em !important;
                    width: 95%;
                }
                #m img { max-width: auto !important; }

                #descriptionBox{
                    display: flex;
                    justify-content: center;
                    padding: 1em;
                    height: 2em;
                    align-items: center;
                }

                section img {
                    max-width: 100%;
                    max-height: 100%;
                }
                .imageDiv {
                    height: 10em;
                    margin: 0.5em;
                }
                .resultDiv {
                    height: 16em;
                }

                .resultDiv img{
                    max-width: 100%;
                    max-height: 100%;
                }

                .slidecontainer {
                    display: grid;
                    grid-template-columns: 9fr 1fr;
                    max-width: 100%;
                    align-items: center;
                }
                .slidecontainer label {
                    grid-column: 1/3;
                }


                .slider {
                    -webkit-appearance: none;  /* Override default CSS styles */
                    appearance: none;
                    width: 90%; /* Full-width */
                    height: 25px; /* Specified height */
                    background: #d3d3d3; /* Grey background */
                    outline: none; /* Remove outline */
                    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
                    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
                    transition: opacity .2s;
                }
                .slider:hover {
                    opacity: 1; /* Fully shown on mouse-over */
                }
                .slider::-webkit-slider-thumb {
                    -webkit-appearance: none; /* Override default look */
                    appearance: none;
                    width: 25px; /* Set a specific slider handle width */
                    height: 25px; /* Slider handle height */
                    background: #4CAF50; /* Green background */
                    cursor: pointer; /* Cursor on hover */
                }
                .slider::-moz-range-thumb {
                    width: 25px; /* Set a specific slider handle width */
                    height: 25px; /* Slider handle height */
                    background: #4CAF50; /* Green background */
                    cursor: pointer; /* Cursor on hover */
                }
                .hidden{
                    display: none;
                }
                .imageDivHidden h2{
                    grid-column: 1/2;
                    text-align: center;
                }
                .imageDivHidden ul{
                    grid-column: 1/2;
                }

                .imageDivHidden img {
                    grid-column: 2/3;
                    grid-row: 1/4;
                    max-height: 60vh;
                    width: 100%;
                }

                .divInside{
                    display: grid;
                    width: 60%;
                    top: 20vh;
                    left: 20%;
                    background-color: white;
                    position: absolute;
                    grid-template-columns: 1fr 1fr;
                    max-height: 60vh;
                }

                .visible{
                    display: block;
                    position: absolute;
                    width: 100vw;
                    height: 100vh;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    background-color: rgba(0,0,0,0.6);
                }

                .btn{
                    background-color: #4CAF50; /* Green */
                    border: none;
                    color: white;
                    padding: 1em 2em;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 1em;
                    cursor: pointer;
                }
                input[type=text]{
                    padding: 0.5em 20px;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                }

                #searchingInput{
                    border-radius: 4px 0 0 4px;
                    width: 75%
                }
                #numbers{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    background-color: white;
                    height: 1em;
                    padding: 0.5em 0.5em;
                    font-weight: bold;
                }

                .modal {
                    display:    none;
                    position:   fixed;
                    z-index:    1000;
                    top:        0;
                    left:       0;
                    height:     100%;
                    width:      100%;
                    background: rgba( 255, 255, 255, .8 )
                    url('http://i.stack.imgur.com/FhHRx.gif')
                    50% 50%
                    no-repeat;
                }

                body.loading .modal {
                    overflow: hidden;
                }

                body.loading .modal {
                    display: block;
                }

            </style>
            <script type="text/javascript" src="https://api.mapy.cz/loader.js"></script>
            <script type="text/javascript">Loader.load();</script>
        {% endblock %}
    </head>
    <body>
        <header>
            <div id="controls">
                <div id="inputDiv">
                    <div id="searchingBox">
                        <input id="searchingInput" type="text"/>
                        <button class="btn" id="searchButton">Search</button>
                    </div>
                    <div id="sliders">
                        <div class="slidecontainer">
                            <label for="textSimilarity">Description similarity</label>
                            <input type="range" min="0" max="100" value="50" class="slider" id="textSimilarity"/>
                            <span></span>
                        </div>
                        <div class="slidecontainer">
                            <label for="numberOfLikes">Number of likes</label>
                            <input type="range" min="0" max="100" value="25" class="slider" id="numberOfLikes"/>
                            <span></span>
                        </div>
                        <div class="slidecontainer">
                            <label for="shootingLocation">Shooting location</label>
                            <input type="range" min="0" max="100" value="25" class="slider" id="shootingLocation"/>
                            <span></span>
                        </div>
                        <button class="btn" id="sliderButton" style="margin-top: 1em;">Show Results</button>
                    </div>
                </div>
                <div id="rightBox">
                    <div id="descriptionBox">
                        <label for="description">Description</label>
                        <input id="description" style="margin-left: 1em;" type="text"/>
                    </div>
                    <div id="m" style="height:380px"></div>
                </div>
            </div>
            <div id="results">
                <div id="numbers">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                </div>
                <div id="resultImages">
                    {% include 'order.html.twig' %}
                </div>
            </div>
        </header>
        <section>
            <h2>Images found</h2>
            <div id="sectionDiv" style="display:flex; flex-wrap: wrap;">
                {% include 'images.html.twig' %}
            </div>
        </section>

        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Pozice na mape, AJAX pri razeni a nacitani  -->
        <script type="text/javascript">
            var center = SMap.Coords.fromWGS84(14.400307, 50.071853);
            var m = new SMap(JAK.gel("m"), center);
            m.addDefaultLayer(SMap.DEF_BASE).enable();
            var mouse = new SMap.Control.Mouse(SMap.MOUSE_PAN | SMap.MOUSE_WHEEL | SMap.MOUSE_ZOOM); /* Ovládání myší */
            m.addControl(mouse);

            var l = new SMap.Layer.Marker();
            m.addLayer(l).enable();

            var mark = new SMap.Marker(center);
            mark.decorate(SMap.Marker.Feature.Draggable);
            l.addMarker(mark);

            function start(e) { /* Začátek tažení */
                var node = e.target.getContainer();
                node[SMap.LAYER_MARKER].style.cursor = "help";
            }

            function stop(e) {
                var node = e.target.getContainer();
                node[SMap.LAYER_MARKER].style.cursor = "";
                var coords = e.target.getCoords();
            }

            var signals = m.getSignals();
            signals.addListener(window, "marker-drag-stop", stop);
            signals.addListener(window, "marker-drag-start", start);

            function degreesToRadians(degrees) {
                return degrees * Math.PI / 180;
            }

            $(document).ready(function (){

                $body = $("body");
                $(document).on({
                    ajaxStart: function() { $body.addClass("loading");    },
                    ajaxStop: function() { $body.removeClass("loading"); }
                });

                $("#searchButton").on('click', function (){
                    if($("#searchingInput").val() != null){
                        $.ajax({
                            type: 'GET',
                            url: '/refreshPictures',
                            dataType: 'html',
                            data: {"textToQuery" : $("#searchingInput").val()},
                            async: false,
                            beforeSend: function() { $('#wait').show(); },
                            complete: function() { $('#wait').hide(); }
                        }).done(function(response){
                            $("#sectionDiv").empty().html(response);
                            $("#resultImages").empty();
                        });
                    }
                });

                $("section").on("click", '.imageDiv', function() {
                        $(this).next().addClass("visible");
                        $(this).next().removeClass("hidden");
                });
                $("section").on("click", ".imageDivHidden", function() {
                    $(this).addClass("hidden");
                    $(this).removeClass("visible");
                });


                $("#textSimilarity, #numberOfLikes, #shootingLocation ").on('input', function () {
                    $("#textSimilarity").next().text($("#textSimilarity").val() + "%");
                    $("#numberOfLikes").next().text($("#numberOfLikes").val() + "%");
                    $("#shootingLocation").next().text($("#shootingLocation").val() + "%");
                });

                $("#sliderButton").on('click', function () {

                    var gps = [mark.getCoords()["x"], mark.getCoords()["y"]];
                    $.ajax({
                        type: 'GET',
                        url: '/modifyOrder',
                        dataType: 'html',
                        data: {"gps": gps, "description": $("#description").val(), "text" : $("#textSimilarity").val(), "likes" : $("#numberOfLikes").val(), "location" : $("#shootingLocation").val()},
                        async: false
                    }).done(function(response){
                        $("#resultImages").empty().html(response);
                    });

                });
            });

        </script>

        <!-- Range pickers - maximalne mohu dostat 100% -->
        <script type="text/javascript">
            var maxTotal = 100,
                inputs = [].slice.call(document.getElementsByClassName('slider')),
                getTotal = function(){
                    var sum = 0;
                    inputs.forEach( function(input){
                        sum += parseInt(input.value, 10);
                    });
                    return sum;
                },
                maxReached = function(e){
                    var sum = getTotal(), target;
                    if(sum > maxTotal){
                        target = e.target;
                        target.value = target.value - (sum - maxTotal);
                        e.preventDefault();
                        return false;
                    }
                    return true;
                };
            inputs.forEach( function(input){
                input.addEventListener('input', maxReached );
            });
            $("#textSimilarity").next().text($("#textSimilarity").val() + "%");
            $("#numberOfLikes").next().text($("#numberOfLikes").val() + "%");
            $("#shootingLocation").next().text($("#shootingLocation").val() + "%");
        </script>
        <div class="modal"></div>
    </body>
</html>
