{% block images %}
    {% for image in images %}
        <div class="imageDiv">
            <img src="{{ image.url }}"/>
        </div>
        <div class="imageDivHidden hidden">
            <div class="divInside">
                <h2>Detail of image</h2>
                <ul>
                    <li>Likes: {{ image.likes }}</li>
                    <li>Desc: {{ image.description }}</li>
                    <li>{{ image.location }}</li>
                    {% if image.positionFound == true %}
                        <li>GPS: {{ image.position.latitude }} | {{ image.position.longitude }}</li>
                    {% endif %}
                </ul>
                <img src="{{ image.url }}"/>
            </div>
        </div>
    {% endfor %}
{% endblock %}