{% block order %}
    {% if images|length > 0 %}
        <div class="resultDiv">
            <img src="{{ images[0].url }}"/>
        </div>
    {% endif %}
    {% if images|length > 1 %}
        <div class="resultDiv">
            <img src="{{ images[1].url }}"/>
        </div>
    {% endif %}

    {% if images|length > 2 %}
        <div class="resultDiv">
            <img src="{{ images[2].url }}"/>
        </div>
    {% endif %}
{% endblock %}